
/*CSS Stylesheet*/

/*Standard re-set.
Prevents annoying browser defaults
See this article http://html5doctor.com/html-5-reset-stylesheet for more
*/
html, body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0px; 
  padding: 0px; 
  border: 0px;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: #333;
  background-image: url(background.jpg);
   
}

 

.container {
	 
	position: relative;
	min-height: 113vh;
	font-family: Montserrat, sans-serif;
	background-color: dark grey;
	width: 1024px;
	margin: 0 auto;
	background: white;
  
}
.moderatorLog {
  position: relative;
  top: 300px;
  left:400px;
}

.Icon {
  width: 200px;
  height: 200px;
}

#header img {
  width: 100px;
  height: 70px !important;
  position: relative;
  top: -15px;
}

.moderatorLog span div {
  position: absolute;
  top: -40px;
  left: -70px;
}
.moderatorLog input {
  border: 3px solid #ff7400;
 
}

.DatabaseLog input {
  border: 3px solid #ff7400;
}
.DatabaseLog span div {
  position: absolute;
  top: -40px;
  left: -70px;
}
.DatabaseLog {
  position: relative;
  top: 300px;
  left:440px
}
.postLoginHint {
  position: relative;
  top:320px;
  left: 299px;
}

.Loginhint {
  position: relative;
  top: 300px;
}

#header {
	margin: 0 auto;
	margin-top: -20px;
	float: center;
	width: 1024px;
	height: 100px;
	background-color: #ff7400;
	color: white;
	align-content: center;
	padding-top: 20px;
  text-align: center;
}
#header h1 {
	font-family: "Times New Roman",sans-serif;
	margin: 0;
	padding-top:10px;
	font-size: 60px;
}

#header .img-left {
	float: left;
	height: 100px;
	margin-left: 20px;
	margin-top: -80px;
}

.main h2 {
	font-size: 35px;
}

.main {
	color: black;
	padding-left: 40px;
	padding-right: 40px;
 
}
.main p {
	font-size: 13px;
}

.dataLabel {
  color: red
}
.moderatorApprove {
  font-size: 15px;
}
.moderatorApprove .approved {
  color: green;
}
.moderatorApprove p {
  font-size: 20px;
}
.moderatorApprove .unapproved {
  color: red;
}
.moderatorApprove {
  border: 2px solid #ff7400;;
  margin-bottom: 5px;
  margin-top: 5px;
}
.userData {
  float: left;
  border: 2px solid #ff7400;
  text-align: left;
  margin-left: 2px;
}

.moderatorApprove span {
  font-size: 15px;

}
.moderatorApprove button {
  width: 63px;
  height: 30px;
}

.left {
	width: 40%;
	display: block;
	align-self: left;
	margin-left: auto;
	margin-right: auto;
}

.right {
	width: 40%;
	display: block;
	align-self: right;
	margin-left: auto;
	margin-right: auto;
}

.vertical {
  border-left: 4px solid #ff7400;;
  height: 400px;
  position:absolute;
  left: 50%;
}

.wrapper {
	display: flex;
	text-align: left;
	margin-top: 20px;
	margin-right: auto;
}

.wrapperlogin {
	display: flex;
	text-align: left;
	margin-top: 20px;
}

.profilePicture {
	width: 200px;
	length: 200px;
}

.animalHome {
   height: 400px;
	 border-radius: 40px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff7400;
}

.nav li {
    float: left;
}

.database {
  position: relative;
  bottom: 400px;
}

.postArea {
  text-align: left;
}

.userPost {
  margin: 5px 0;
  width: 1000px;
  border: 1px solid red;
}

textarea {
  margin: 10px 0 !important;
  border: 1px solid red;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
		border-top-left-radius: 10px 10px;
		border-top-right-radius: 10px 10px;
}

.nav li a:hover:not(.active) {
    background-color: #e35b04;
}



p {
	color: black;
	font-family: "MS Serif", "New York", seris;
	font-size: 15px;

}
a {
	color: initial;
	text-decoration: initial;
}

footer {
	height: 40px;
    margin-top: 335px;
}
.footnav ul {
    list-style-type: none;
    margin-left: 10px;
	margin-right: 10px;
    padding: 0;
    overflow: hidden;
}


.footnav li {
    float: left;
}

.footnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.footnav li a:hover:not(.active) {
    background-color: #111;
}
.footactive{
    background-color: #0FF;
}

.paragraph p{
	
	margin:1em 0;
	padding:0 0 0 2em;
	text-indent:0.01em;
	font:normal normal 16px/1.6em "DM Sans";
	color:#000;
	text-align:justify
	
}

.paragraph h2{
	margin:1em 0;
	padding:0 0 0 1em;
	font:normal normal 24px/2.4em;
	color:#000;
	text-align: left;
	font-weight:700;
	line-height:1.2;
}

.paragraph h3{
	margin:1em 0;
	padding:0 0 0 1.5em;
	font:normal normal 20px/2em;
	text-align: left;
	font-weight:700;
	line-height:1.2;
}

.ref p{
	font-size:12px;
	text-align:left;
	margin:1em 0;
	padding:0 0 0 2em;
}

.paragraph img{
	 max-width: 90%;
	 padding: 0px 20px 20px;
}

.right{
  float:right; 
}

.right li {
  list-style: none;
}

.right li a {
    display: block;
    color: blcak;
    text-align: left;
    padding: 0px 60px 0px;
    text-decoration: none;
    font: normal normal 20px/2em "DM Sans";
}

.right ul {
    list-style-type: none;
}